{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="bgLeft">
    <div class="contentKiri">
      <div>
        <p class="header">How's it going?</p>
      </div>
      <div class="contentBawah">
        <p>I'm Daus,</p>
        <p>
          Undergraduated Computer Science Student From University of Indonesia.
        </p>
      </div>
      <div class="bawahKiri">
        <!-- <div class="tombolBawahKiri">
          <a href="{% url 'lab_3:index' %}">
            <i style="margin: 0; font-size: 50px" class="fa fa-arrow-left"></i>
            <p style="font-size: 17px; font-weight: 500">Welcoming</p>
          </a>
        </div> -->
        <div style="margin: auto">
          <a href="https://www.facebook.com/sfdaus/"
            ><i id="fb" class="fa fa-facebook-square"></i
          ></a>
          <a
            href="https://www.instagram.com/sfdaus27/"
            class="fa fa-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/sfdaus"
            class="fa fa-linkedin"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bgRight">
    <div class="contentRight">
      <p class="headerRight">Personal Identity</p>
      <div class="imgDiv">
        <img
          class="img"
          src="https://cdn.discordapp.com/attachments/343416317681991681/757934749934288987/IMG_2514.JPG"
        />
      </div>
      <div class="bio">
        <div class="wrapText">
          <p>Name : Sukma Firdaus Suryahadi</p>
        </div>
        <div class="wrapText">
          <p>Birthdate : 27 Mei 1998</p>
        </div>
        <div class="wrapText">
          <p>Address : Lapangan Pors VIII No.18</p>
        </div>
        <div class="wrapText">
          <p>Phone Number : +6282225958686</p>
        </div>
        <div class="wrapText">
          <p>Email : sfdaus27@gmail.com</p>
        </div>
      </div>
      <div class="tableDiv">
        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th class="th">Tahun</th>
              <th>Pendidikan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2004 - 2010</td>
              <td>SDIT Qatrunnada Jakarta</td>
            </tr>
            <tr>
              <td>2010 - 2013</td>
              <td>SMP 115 Jakarta</td>
            </tr>
            <tr>
              <td>2013 - 2016</td>
              <td>SMAN 68 Jakarta</td>
            </tr>
            <tr>
              <td>2016 - Present</td>
              <td>Universitas Indonesia</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bawahKanan">
        <!-- <div class="tombolBawahKanan">
          <a href="{% url 'lab_3:more'%}">
            <i class="fa fa-arrow-right" style="margin: 0; font-size: 50px"></i>
            <p style="font-size: 17px; font-weight: 500">More</p>
          </a>
        </div> -->
      </div>

      <!-- <div class="tombolResp">
        <div id="resp" class="tombolBawahKiri">
          <a href="{% url 'lab_3:index' %}">
            <i style="margin: 0; font-size: 50px" class="fa fa-arrow-left"></i>
            <p style="font-size: 17px; font-weight: 500">Welcoming</p>
          </a>
        </div>
        <div id="resp" class="tombolBawahKiri">
          <a href="{% url 'lab_3:more'%}">
            <i class="fa fa-arrow-right" style="margin: 0; font-size: 50px"></i>
            <p style="font-size: 17px; font-weight: 500">More</p>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
