{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="tableDiv">
    <div>
      <a
        href="{% url 'lab_5:create'%}"
        class="btn btn-outline-primary"
        style="float: right; margin-bottom: 20px; width: 80px; height: 25px"
      >
        <p>Add Matkul</p>
      </a>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Mata Kuliah</th>
          <th>Dosen</th>
          <th>Jumlah SKS</th>
          <th>Deskripsi</th>
          <th>Semester</th>
          <th>Ruang</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% if datas %} {% for data in datas %}

        <tr>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.nama}} </a>
          </td>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.dosen}} </a>
          </td>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.sks}} </a>
          </td>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.deskripsi}} </a>
          </td>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.semester}} </a>
          </td>
          <td>
            <a href="{% url 'lab_5:detail' data.id %}"> {{data.ruang}} </a>
          </td>
          <td>
            <form method="POST" action="{% url 'lab_5:delete' data.id%}">
              {% csrf_token %}<input
                class="btn btn-danger"
                style="height: 25px"
                type="submit"
                value="Delete"
              />
            </form>
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
