{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/kegiatan.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="judul">
    <h1>List Kegiatan</h1>
  </div>
  <div class="content">
    <div style="height: 30px">
      <div class="addKegiatan">
        <a
          href="{% url 'lab_6:create-kegiatan'%}"
          class="btn btn-primary"
          style="
            float: right;
            margin-bottom: 20px;
            width: 80px;
            height: 25px;
            font-weight: 700;
          "
        >
          <p>Add Kegiatan</p>
        </a>
      </div>
    </div>

    <div style="margin-top: 20px">
      {% if kegiatan %} {% for data in kegiatan %}
      <div style="margin-bottom: 35px" class="col-sm-4">
        <div class="card">
          <h5 class="card-title">{{data.nama}}</h5>
          <p id="waktu" class="card-text">{{data.waktu}}</p>
          <p
            style="color: black; margin: 0; font-weight: 700"
            class="card-text"
          >
            What are we going to do?
          </p>
          <p id="desc" class="card-text">{{data.deskripsi}}</p>
          <div class="card-body">
            <p
              style="font-weight: 700; color: black; margin-bottom: 0"
              class="card-text"
            >
              Attendees :
            </p>
            {% if data.persons.all %} {% for data in data.persons.all %}
            <div class="attendee">
              <p>{{data.nama}}</p>
              <p style="margin-left: 5px">( {{data.domisili}} )</p>
            </div>
            {% endfor %} {% else %} &nbsp; {%endif%}
          </div>

          <a
            href="{% url 'lab_6:create-attendee' data.id %}"
            id="iamin"
            class="btn btn-primary"
            >IAM IN!</a
          >
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
