{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <form method="POST">
    <div class="loginSquare">
      {% csrf_token %}
      <div class="headerWrapper">
        <h1>Login</h1>
      </div>
      <div class="fieldWrapper" style="margin-bottom: 10px">
        {{ form.username.errors }}
        <!-- <label for="{{ form.username.id_for_label }}">Username:</label> -->
        <p>Username</p>
        {{ form.username }}
      </div>
      <div class="fieldWrapper">
        {{ form.password.errors }}
        <!-- <label for="{{ form.password.id_for_label }}">Password:</label> -->
        <p>Password</p>
        {{ form.password }}
      </div>
      <div class="questionWrapper">
        <p>
          <a href="{% url 'lab_9:register'%}">
            Didn't have an account? Register</a
          >
        </p>
      </div>
      <div class="buttonWrapper">
        <button class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
