{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/form_attendee.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="judul">
    <h1>Form Mengikuti Kegiatan</h1>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="form">
      <div class="isi">
        <label>Nama Lengkap : </label>
        {{form.nama}}
      </div>
      <div class="isi">
        <label>Domisili : </label>
        {{form.domisili}}
      </div>
      <div style="float: right; margin-right: 20px">
        <input class="btn btn-primary" type="submit" value="Save" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
