.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}

.allContent {
  width: 50vw;
  margin: auto;
}

.allContent h1 {
  font-size: 40px;
  color: #db4437;
  font-weight: 700;
  font-family: "PT Serif", normal;
}

.allContent label {
  color: #db4437;
  font-family: "PT Serif", normal;
  font-weight: 700;
  font-size: 20px;
}

.isi {
  color: #db4437;
  font-family: "PT Serif", normal;
  font-weight: 700;
  font-size: 15px;
}

.sub-isi {
  margin-bottom: 10px;
}

.headerDetail {
  width: 334px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
