.container-fluid {
  background-color: #db4437;
  min-height: 93vh;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-family: "PT Serif", normal;
  font-weight: 1000;
}

.judul {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  color: #f4b400;
}

.form {
  width: 60vw;
  margin: auto;
  margin-top: 30px;
}

.isi {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#id_nama,
#id_domisili {
  padding: 8px 10px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  resize: none;
  background-color: #ffd55f;
  outline: none;
  font-family: "PT Serif", normal;
  font-weight: 400;
  font-size: 14px;
}

label {
  font-size: 14px;
  color: #ffd55f;
  font-family: "PT Serif", normal;
}

.btn {
  font-family: "PT Serif", normal;
  font-size: 14px;
  font-weight: 1000;
  margin-top: 40px;
  width: 100px !important;
  height: 40px !important;
  border-radius: 8px;
}
