.container-fluid {
  background-color: #db4437;
  min-height: 93vh;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-family: "PT Serif", normal;
  font-weight: 1000;
}

.judul {
  width: 232px;
  margin: auto;
  margin-top: 20px;
  color: #f4b400;
}

.addKegiatan {
  width: 70vw;
  margin: auto;
  margin-top: 40px;
}

.content {
  min-height: 75vh;
}

.card {
  background-color: #f4b400;
  padding: 15px;
}

.card h5 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #db4437;
  text-transform: uppercase;
  margin: 0;
}

.card p {
  font-size: 13px;
  color: #fefefe;
}

#desc {
  font-weight: 500;
  color: #db4437 !important;
}

#waktu {
  color: black;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}

#iamin {
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}

.attendee {
  display: flex;
  flex-direction: row;
}

.attendee p {
  font-weight: 500;
  margin-bottom: 0;
}
