.d {
  color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapText {
  display: flex;
  flex-direction: row;
  width: 400px;
}

p {
  margin-left: 5px;
  max-width: 400px;
  font-size: large;
}

label {
  font-size: large;
}

.contentWrap {
  display: flex;
  flex-direction: row;
  color: #f4b400;
}

.tableDiv {
  font-size: large;
  width: 430px;
}

.socialDiv {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

th,
td {
  color: #f4b400;
  background-color: #db4437;
}
.th {
  padding-top: 0 !important;
}

table.table-bordered {
  border: 1px solid #f4b400;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #f4b400;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #f4b400;
}

.fa {
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 10px;
}

.fa:hover {
  text-decoration: none;
}

.fa-instagram {
  background: radial-gradient(
    circle at 40% 100%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
}

.fa-linkedin {
  color: #2867b2;
}

#fb {
  color: #3b5998 !important;
}

.container-fluid {
  min-height: 93vh;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.bgRight {
  width: 50%;
  min-height: 93vh;
  background-color: #ffd55f;
}
.bgLeft {
  width: 50%;
  min-height: 93vh;
  background-color: #db4437;
  margin-right: 1px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.4);
}

.header {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 93px;
  line-height: 100px;
  width: 417px;
  color: #f4b400;
}

p {
  margin: 0;
}

.contentKiri {
  margin-left: 68px;
  margin-top: 100px;
}

.contentBawah {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #fefefe;
  margin-top: 60px;
  width: 440px;
}

.contentRight {
  margin: 0 auto;
  width: 430px;
}

.bio {
  width: 300px;
  margin: auto;
  color: #db4437;
  font-weight: 500;
  font-size: 17px;
}

.headerRight {
  margin: auto;
  width: 280px;
  color: #db4437;
  font-weight: 700;
  font-size: 35px;
  margin-top: 20px;
}

.imgDiv {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 40px;
  margin: auto;
}

.bawahKiri {
  display: flex;
  flex-direction: row;
  width: 550px;
  bottom: 10px;
  /* left: 0; */
  position: absolute;
}

.tombolBawahKiri {
  width: 90px;
  display: block;
  text-align: center;
  color: #f4b400;
}

a {
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.tombolBawahKanan {
  margin: 0;
  color: #db4437;
  position: absolute;
  bottom: 10px;
  right: 80px;
}

.tombolResp {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .container-fluid {
    flex-direction: column;
  }

  .bgLeft {
    width: 100%;
  }
  .bgRight {
    width: 100%;
  }

  .tombolBawahKiri {
    display: none;
  }

  .tombolResp {
    /* display: block; */
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  #resp {
    display: flex !important;
    color: #db4437;
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    flex-direction: column;
    width: 100vh;
  }

  .bgLeft {
    width: 100%;
  }
  .bgRight {
    width: 100%;
  }

  .contentKiri {
    margin-left: 30px;
  }

  .tombolBawahKanan {
    display: none;
  }
}
