.tableDiv {
  margin: auto;
  font-size: medium;
  margin-top: 50px;

  width: 80vw;
}

a,
p {
  font-family: "PT Serif", normal;
  font-size: 11px;
  font-weight: 1000;
}

td a {
  display: block;
  color: inherit;
  width: 100%;
  height: 100%;
  text-decoration: none;
  min-height: 40px;
}

td a:hover {
  text-decoration: none;
  color: inherit;
}

td {
  color: #db4437;
  background-color: #f4b400;
}
.th {
  padding-top: 0 !important;
}

table.table-bordered {
  border: 1px solid #db4437;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #db4437;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #db4437;
}

.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}
