.container-fluid {
  background-color: #db4437;
  min-height: 93vh;
}

.midContent {
  color: #f4b400;
  /* width: 450px; */
  /* margin: 0 auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.bigText {
  font-family: "PT Serif", normal;
  font-weight: 700;
  font-size: 49px !important;
  line-height: 60px;
  width: 450px;
}

.bigText #hey {
  font-size: 96px;
  line-height: 127px;
}

p {
  margin: 0;
}

#arrow {
  font-size: 140px !important;
  margin-top: 40px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  .midContent {
    width: 250px;
  }
  .bigText #hey {
    font-size: 40px;
    margin: 0;
    line-height: 50px;
  }
  #arrow {
    font-size: 70px !important;
    margin: 0;
    margin-top: 10px;
  }

  .bigText #come {
    font-size: 20px;
    margin: 0;
    line-height: 50px;
  }

  .bigText {
    width: 200px;
  }

  a {
    margin: 0;
  }
}
