.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}

label {
  color: #db4437;
  font-family: "PT Serif", normal;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
  width: 200px;
}

h1 {
  color: #db4437;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.btn {
  font-family: "PT Serif", normal;
  font-size: 14px;
  font-weight: 1000;
  margin-top: 40px;
  width: 100px !important;
  height: 40px !important;
  border-radius: 8px;
}

.form-form {
  width: 54vw;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: row;
  width: 54vw;
  margin: auto;
}

.isi {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-kiri {
  width: 30vw;
}

.form-kanan {
  width: 25vw;
}

#id_deskripsi,
#id_semester {
  width: 336px;
  height: 150px;
  padding: 15px 15px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  resize: none;
  background-color: #ffd55f;
  outline: none;
  font-family: "PT Serif", normal;
  font-weight: 400;
  font-size: 14px;
}

#id_nama,
#id_dosen,
#id_sks,
#id_ruang {
  width: 336px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  resize: none;
  background-color: #ffd55f;
  outline: none;
  font-family: "PT Serif", normal;
  font-weight: 400;
  font-size: 14px;
}

.all-content {
  margin-top: 30px;
}
