{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/daftarBuku.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="judul">
    <h1>Daftar Buku Favorit</h1>
    <div class="search">
      {% csrf_token %}
      <input
        name="search"
        id="search"
        type="text"
        placeholder="Search.."
        name="search"
      />
      <button type="submit" onclick="search()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="contentWrapper">
    <div class="row" style="width: 85vw; margin: auto; margin-top: 40px">
      {% for obj in data %}
      <div class="col-sm-2" style="margin-bottom: 20px">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{{obj.volumeInfo.imageLinks.thumbnail}}"
            alt="{{obj.volumeInfo.title}} pict"
            style="height: 180px"
          />
          <div class="card-body">
            <h5 class="card-title" style="text-align: left">
              {{obj.volumeInfo.title}} {{obj.volumeInfo.subtitle}}
            </h5>
            <p>
              Authors : {% for author in obj.volumeInfo.authors %} {{author}}
              {%endfor %}
            </p>
            <p>Description : {{obj.volumeInfo.description|truncatewords:15}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  function search() {
    var asd = $("#search").val();
    var csrfToken = $("input[name='csrfmiddlewaretoken']");
    if (asd.length != 0) {
      $.ajax({
        url: "{% url 'lab_8:search1' %}",
        type: "POST",
        dataType: "json",
        data: { post_note: asd, csrfmiddlewaretoken: csrfToken.val() },
        cache: false,
        success: function (data) {
          $(".row").remove();
          $(".contentWrapper").append(
            '<div class="row" style="width: 85vw; margin: auto; margin-top: 40px"></div>'
          );
          $.each(data.data, function (key, val) {
            var ar = val.volumeInfo.authors;
            var temp = "";
            var desc = val.volumeInfo.description;
            if (desc != null) var desc = desc.slice(0, 70) + "...";
            if (ar != null) {
              for (var i = 0; i < ar.length; i++) {
                //temp += "<li>" + ar[i] + "</li>";
                temp = temp + val.volumeInfo.authors[i] + ", ";
              }
              temp = temp.slice(0, -1);
              temp = temp.slice(0, -1);
            }
            if (val.volumeInfo.subtitle != null) {
              if (val.volumeInfo.imageLinks != null) {
                if (desc != null) {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' src='" +
                      val.volumeInfo.imageLinks.thumbnail +
                      "' alt= '" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px'/><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      " " +
                      val.volumeInfo.subtitle +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p><p>Description : " +
                      desc +
                      "</p></div></div></div>"
                  );
                } else {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' src='" +
                      val.volumeInfo.imageLinks.thumbnail +
                      "' alt='" +
                      val.volumeInfo.title +
                      "' alt=" +
                      val.volumeInfo.title +
                      " style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p></div></div></div>"
                  );
                }
              } else {
                if (desc != null) {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' alt='" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p><p>Description : " +
                      desc +
                      "</p></div></div></div>"
                  );
                } else {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' alt='" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p></div></div></div>"
                  );
                }
              }
            } else {
              if (val.volumeInfo.imageLinks != null) {
                if (desc != null) {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' src='" +
                      val.volumeInfo.imageLinks.thumbnail +
                      "' alt= '" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px'/><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      " " +
                      val.volumeInfo.subtitle +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p><p>Description : " +
                      desc +
                      "</p></div></div></div>"
                  );
                } else {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' src='" +
                      val.volumeInfo.imageLinks.thumbnail +
                      "' alt='" +
                      val.volumeInfo.title +
                      "' alt=" +
                      val.volumeInfo.title +
                      " style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p></div></div></div>"
                  );
                }
              } else {
                if (desc != null) {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' alt='" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p><p>Description : " +
                      desc +
                      "</p></div></div></div>"
                  );
                } else {
                  $(".row").append(
                    "<div class='col-sm-2' style='margin-bottom: 20px'><div class='card h-100'><img class='card-img-top' alt='" +
                      val.volumeInfo.title +
                      "' style= 'height: 180px' /><div class='card-body'><h5 class='card-title' style='text-align: left'>" +
                      val.volumeInfo.title +
                      "</h5><p class='authors'>Authors : " +
                      temp +
                      "</p></div></div></div>"
                  );
                }
              }
            }
          });
        },
      });
    } else {
      alert("Tidak ada yang di cari!");
    }
  }
</script>
{% endblock %}
