{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="all-content">
    <div style="width: 35vw; margin: auto">
      <h1>Form Penambahan Mata Kuliah</h1>
    </div>
    <form class="form-form" method="POST">
      {% csrf_token %}
      <div class="form">
        <div class="form-kiri">
          <div class="isi">
            <label>Mata Kuliah : </label>
            {{form.nama}}
          </div>
          <div class="isi">
            <label>Nama Dosen : </label>
            {{form.dosen}}
          </div>
          <div class="isi">
            <label>Jumlah SKS : </label>
            {{form.sks}}
          </div>
          <div class="isi">
            <label>Ruangan : </label>
            {{form.ruang}}
          </div>
        </div>
        <div class="form-kanan">
          <div class="isi">
            <label>Deskripsi Mata Kuliah : </label>
            {{form.deskripsi}}
          </div>
          <div class="isi">
            <label>Semester : </label>
            {{form.semester}}
          </div>
        </div>
      </div>
      <div style="float: right; margin-right: 20px">
        <input class="btn btn-outline-primary" type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
