.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
  display: flex;
  flex-direction: row;
}

.contentLeft {
  width: 50%;
  min-height: 93vh;
}

.contentRight {
  width: 50%;
  min-height: 93vh;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.workExp {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  /* font-style: normal; */
  text-decoration-line: underline;
  color: #db4437;
}

.personalProj {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  /* font-style: normal; */
  text-decoration-line: underline;
  color: #db4437;
}

.contentLeftWrapper {
  margin-top: 75px;
  margin-left: 68px;
}

.contentRightWrapper {
  margin-top: 75px;
  margin-left: 68px;
}

.textWrapper1 {
  margin-top: 30px;
}

.textWrapper {
  margin-top: 25px;
}

.topText {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: #db4437;
}

.midText {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #444444;
}

.botText {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #fefefe;
}

.contentSmile {
  color: #4444;
  font-size: 48px;
  font-weight: 700;
  margin-top: 55px;
}

.tombolBawahKiri {
  width: 90px;
  display: block;
  text-align: center;
  color: #db4437;
  position: absolute;
  bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.tombolBawahKiriResp {
  display: none;
}

@media only screen and (max-width: 600px) {
  .contentLeft {
    width: 100%;
  }

  .contentRight {
    width: 100%;
  }

  .contentLeftWrapper {
    margin-left: 0;
  }

  .contentRightWrapper {
    margin-left: 0;
  }

  .container-fluid {
    flex-direction: column;
  }

  .tombolBawahKiri {
    display: none;
  }

  .tombolBawahKiriResp {
    display: block;
    text-align: center;
    color: #db4437;
    left: 0;
    float: left;
    margin-bottom: 10px;
  }

  .contentSmile {
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
}
