{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/welcoming.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="welcomingContent">
    <div class="textWrapper">
      <h1>Selamat datang, {{user.username}} 😊</h1>
    </div>
    <div class="logoutWrapper">
      <a class="btn btn-danger" href="{% url 'lab_9:logout' %}">Logout</a>
    </div>
  </div>
</div>
{% endblock %}
