.container-fluid {
  background-color: #db4437;
  min-height: 93vh;
}

.judul h1 {
  width: fit-content;
  font-size: 40px !important;
  font-weight: 1000 !important;
  font-family: "PT Serif", normal;
  color: #f4b400;
}

.judul {
  width: 85vw;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #f4b400;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search button:hover {
  background: #ffc116;
}
