{% extends 'base.html' %} 
{% load static %}

{% block styling %}
<link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="midContent">
    <div style="z-index: 5;" class="bigText">
      <p id="hey">Hey there!</p>
      <p id="come">Come see my profile</p>
    </div>
    <div>
      <a href='{% url 'lab_1_profile:index' %} '>
        <i class="fa fa-arrow-right" id="arrow"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
