{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/accordion.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="judul">
    <h1>My Profile's Accordion</h1>
  </div>
  <div class="wrapper">
    <div id="div1" class="accordion">
      <div class="accordion_header">
        <div class="accordion_tab">Aktivitas</div>
        <div class="accordion_arrow">
          <button class="arrow_up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button class="arrow_down">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="accordion_content">
        <div class="accordion_item">
          <!-- <p class="item_title">Accordion SubTitle</p> -->
          <p>
            Aktivitas saya saat ini (terutama di masa pandemi) yaitu
            bercengkrama dengan keluarga dirumah tentunya, selain itu juga
            sebisa mungkin mengikuti perkuliahan yang saya ambil di semester ini
            dengan baik (:
          </p>
        </div>
      </div>
    </div>
    <div id="div2" class="accordion">
      <div class="accordion_header">
        <div class="accordion_tab">Pengalaman Organisasi/Kepanitiaan</div>
        <div class="accordion_arrow">
          <button class="arrow_up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button class="arrow_down">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="accordion_content">
        <div class="accordion_item">
          <!-- <p class="item_title">Accordion SubTitle</p> -->
          <p>-</p>
        </div>
      </div>
    </div>
    <div id="div3" class="accordion">
      <div class="accordion_header">
        <div class="accordion_tab">Prestasi</div>
        <div class="accordion_arrow">
          <button class="arrow_up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button class="arrow_down">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="accordion_content">
        <div class="accordion_item">
          <!-- <p class="item_title">Accordion SubTitle</p> -->
          <p>Dapat mengerjakan lab PPW (:</p>
        </div>
      </div>
    </div>
    <div id="div4" class="accordion">
      <div class="accordion_header">
        <div class="accordion_tab">Motto</div>
        <div class="accordion_arrow">
          <button class="arrow_up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button class="arrow_down">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="accordion_content">
        <div class="accordion_item">
          <!-- <p class="item_title">Accordion SubTitle</p> -->
          <p>
            In the end, people will judge you anyway. So don't live your life
            impressing others. Live your life impressing yourself.
            <br />
            <br />
            - Eunice Camacho Infante
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  $(document).ready(function () {
    function firstAndLast(wrapper) {
      if (!wrapper) {
        return false;
      } else {
        wrapper.find("button:disabled").prop("disabled", false);
        wrapper.find("button.arrow_up:first").prop("disabled", true);
        wrapper.find("button.arrow_down:last").prop("disabled", true);
      }
    }

    firstAndLast($(".wrapper"));

    $(".accordion_tab").bind("click", function () {
      if ($(this).hasClass("active")) {
        $(".accordion_tab").each(function () {
          $(this).parent().parent().removeClass("active");
          $(this).removeClass("active");
        });
      } else {
        $(".accordion_tab").each(function () {
          $(this).parent().parent().removeClass("active");
          $(this).removeClass("active");
        });
        $(this).parent().parent().addClass("active");
        $(this).addClass("active");
      }
    });

    $("button").click(function (e) {
      e.preventDefault();
      var parent = $(this).closest(".accordion"),
        grandparent = $(this).closest(".wrapper");
      if ($(this).hasClass("arrow_up")) {
        parent.insertBefore(parent.prev(".accordion"));
        firstAndLast(grandparent);
      } else if ($(this).hasClass("arrow_down")) {
        parent.insertAfter(parent.next(".accordion"));
        firstAndLast(grandparent);
      }
    });
  });
</script>
{% endblock %}
