{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
      rel="stylesheet"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    {% block styling %} {% endblock %}

    <style>
      .burger {
        display: none;
        font-size: 28px;
      }

      #myLinks {
        display: none;
      }

      .burger a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
      }

      @media only screen and (max-width: 1000px) {
        #containerNav {
          display: none;
        }
        .burger {
          display: block;
        }

        nav {
          z-index: 10;
        }
      }
    </style>
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="margin: 0; background-color: #0f9d58"
    >
      <div
        id="containerNav"
        class="container"
        style="font-family: 'PT Serif', normal"
      >
        <div>
          <a
            href="{% url 'lab_3:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Welcome Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_1_profile:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Profile Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_3:more'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Experience Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_5:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Mata Kuliah</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_6:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Kegiatan</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_7:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Accordion</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_8:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Daftar Buku</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_9:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Logout</a
          >
        </div>
      </div>
      <div class="burger">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <div id="myLinks">
          <div>
            <a
              href="{% url 'lab_3:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Welcome Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_1_profile:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Profile Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_3:more'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Experience Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_5:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Mata Kuliah</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_6:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Kegiatan</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_7:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Accordion</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_8:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Daftar Buku</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_9:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </nav>
    {% else %}
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="margin: 0; background-color: #0f9d58"
    >
      <div
        id="containerNav"
        class="container"
        style="font-family: 'PT Serif', normal"
      >
        <div>
          <a
            href="{% url 'lab_3:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Welcome Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_1_profile:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Profile Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_3:more'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Experience Page</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_5:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Mata Kuliah</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_6:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Kegiatan</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_7:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Accordion</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_8:index'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Daftar Buku</a
          >
        </div>
        <div>
          <a
            href="{% url 'lab_9:login'%}"
            style="color: white; font-size: 20px; font-weight: 700"
            >Login</a
          >
        </div>
      </div>
      <div class="burger">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <div id="myLinks">
          <div>
            <a
              href="{% url 'lab_3:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Welcome Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_1_profile:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Profile Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_3:more'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Experience Page</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_5:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Mata Kuliah</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_6:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Kegiatan</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_7:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Accordion</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_8:index'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Daftar Buku</a
            >
          </div>
          <div>
            <a
              href="{% url 'lab_9:login'%}"
              style="color: white; font-size: 20px; font-weight: 700"
              >Login</a
            >
          </div>
        </div>
      </div>
    </nav>
    {% endif %} {% block content %} {% endblock %}

    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    {% block javascript %} {% endblock %}
  </body>
</html>
