@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}

.wrapper {
  margin-top: 30px;
}

.accordion {
  width: 700px;
  height: 60px;
  margin: 0 auto;
  background: #db4437;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(225, 225, 225, 1);
  overflow: hidden;
  transition: height 0.3s ease;
  margin-bottom: 10px;
  color: black;
}

.accordion .accordion_tab {
  padding: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-width: 600px;
}

.accordion_arrow {
  display: flex;
  flex-direction: row;
  width: 60px !important;
  height: 22px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 22px;
}

.accordion .accordion_tab .accordion_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.accordion .accordion_tab .accordion_arrow img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/* .accordion .accordion_tab.active .accordion_arrow {
  transform: translateY(-50%) rotate(180deg);
} */

.accordion.active {
  height: 320px;
  overflow: auto;
}

.accordion .accordion_content {
  padding: 20px;
  border-top: 1px solid black;
}

.accordion .accordion_content .accordion_item {
  margin-bottom: 20px;
}

.accordion .accordion_content .accordion_item p.item_title {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

.accordion .accordion_content .accordion_item p:last-child {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}

img {
  /* margin-right: 10px; */
  width: 15px !important;
}

button {
  height: fit-content;
  background: transparent;
  border: none !important;
  outline: none;
}

button:active {
  outline: none;
}

i::before {
  font-size: 20px;
}

.accordion_header {
  display: flex;
  flex-direction: row;
}

button:disabled,
button[disabled] {
  visibility: hidden !important;
}

.judul {
  width: 700px;
  margin: auto;
  margin-top: 30px;
}

.judul h1 {
  font-size: 35px !important;
  font-weight: 700 !important;
  font-family: "PT Serif", normal;
  /* margin-bottom: 0; */
}
