{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/profile-more.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="contentLeft">
    <div class="contentLeftWrapper">
      <p class="workExp">Work Experience</p>
      <div class="textWrapper1">
        <p class="topText">Software Engineer (Internship)</p>
        <p class="midText">PT. Limawira Wisesa</p>
        <p class="botText">07/2018 - 08/2018</p>
      </div>
      <div class="textWrapper">
        <p class="topText">UI/UX Designer Frontend Developer</p>
        <p class="midText">PPL Fasilkom UI</p>
        <p class="botText">2019 - 2019</p>
      </div>
      <div class="textWrapper">
        <p class="topText">Backend Developer (Internship)</p>
        <p class="midText">PT. Jojonomic Indonesia</p>
        <p class="botText">06/2019 – 08/2019</p>
      </div>
      <div class="textWrapper">
        <p class="topText">Fullstack Engineer (Internship)</p>
        <p class="midText">PT. Karpalabs Indonesia</p>
        <p class="botText">08/2020 – Present</p>
      </div>
      {% comment %}
      <div class="tombolBawahKiri">
        <a href="{% url 'lab_1_profile:index'%}">
          <i style="margin: 0; font-size: 50px" class="fa fa-arrow-left"></i>
          <p style="font-size: 17px; font-weight: 500">Welcoming</p>
        </a>
      </div>
      {% endcomment %}
    </div>
  </div>
  <div class="contentRight">
    <div class="contentRightWrapper">
      <p class="personalProj">Personal Project</p>
      <div class="textWrapper1">
        <p class="topText">Makan Apa Hari Ini (MAHI)</p>
        <p class="midText">
          A recommender system algorithm to decide what to eat on Fasilkom UI
        </p>
        <p class="botText">2018 - 2018</p>
      </div>
      <div class="textWrapper">
        <p class="topText">Kydos Official Website</p>
        <p class="midText">
          Making an official website for my own clothing brand Kydos.official.
          Developed with React JS during quarantine (not done yet)
        </p>
        <p class="botText">2020 - 2020</p>
      </div>
      <div class="contentSmile">
        <p>Thank you!</p>
      </div>
      {% comment %}
      <div id="resp" class="tombolBawahKiriResp">
        <a href="{% url 'lab_1_profile:index'%}">
          <i style="margin: 0; font-size: 50px" class="fa fa-arrow-left"></i>
          <p style="font-size: 17px; font-weight: 500">Welcoming</p>
        </a>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
