{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <form method="POST">
    {% csrf_token %}
    <!-- {{form.as_p}}
    <button>Register</button> -->
    <div class="regisSquare">
      {% csrf_token %}
      <div class="headerWrapper">
        <h1>Register</h1>
      </div>
      <div class="errorsWrapper">
        <p>{{ form.username.errors.as_text }}</p>
        <p>{{ form.password1.errors.as_text }}</p>
        <p>{{form.password2.errors.as_text }}</p>
      </div>
      <div class="fieldWrapper" style="margin-bottom: 10px">
        <!-- <label for="{{ form.username.id_for_label }}">Username:</label> -->
        <p>Username</p>
        {{ form.username }}
      </div>
      <div class="fieldWrapper">
        <!-- <label for="{{ form.password.id_for_label }}">Password:</label> -->
        <p>Password</p>
        {{ form.password1 }}
      </div>
      <div class="fieldWrapper">
        <!-- <label for="{{ form.password.id_for_label }}">Password:</label> -->
        <p>Password Confirmation</p>
        {{ form.password2 }}
      </div>
      <div class="buttonWrapper">
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
