{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="allContent">
    <div class="headerDetail">
      <h1>Detail Mata Kuliah</h1>
    </div>
    <div class="detail">
      <div class="sub-isi">
        <label>Nama Mata Kuliah : </label>
        <div class="isi">{{data.nama}}</div>
      </div>
      <div class="sub-isi">
        <label>Nama Dosen Ajar : </label>
        <div class="isi">{{data.dosen}}</div>
      </div>
      <div class="sub-isi">
        <label>Jumlah SKS : </label>
        <div class="isi">{{data.sks}}</div>
      </div>
      <div class="sub-isi">
        <label>Deskripsi : </label>
        <div class="isi">{{data.deskripsi}}</div>
      </div>
      <div class="sub-isi">
        <label>Semester : </label>
        <div class="isi">{{data.semester}}</div>
      </div>
      <div class="sub-isi">
        <label>Ruangan : </label>
        <div class="isi">{{data.ruang}}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
