.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}

.regisSquare {
  border: 0.5px solid;
  width: 350px;
  height: 400px;
  padding-top: 35px;
  border-radius: 4px;
  margin: auto;
  margin-top: 150px;
  /* background-color: #fefefe; */
  background-color: #db4437;
}

.headerWrapper {
  margin-bottom: 20px;
}

.headerWrapper h1 {
  color: #fefefe;
  font-weight: 700;
  margin: auto;
  width: fit-content;
}

.fieldWrapper {
  width: fit-content;
  margin: auto;
}

.fieldWrapper p {
  width: fit-content;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #fefefe;
}

.errorsWrapper {
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}

.errorsWrapper p {
  width: fit-content;
  margin: 0;
  font-size: 11px;
  color: yellow;
}

#id_username,
#id_password1,
#id_password2 {
  width: 250px;
  height: 30px;
  border-radius: 4px;
  font-size: 13px;
  border: none;
  padding-left: 10px;
}

.questionWrapper {
  margin-top: 20px;
}

.questionWrapper p {
  width: fit-content;
  margin: 0;
  margin: auto;
  font-size: 13px;
}

.questionWrapper a {
  width: fit-content;
  color: #fefefe;
}

.questionWrapper a:hover {
  text-decoration: none;
  color: rgb(89, 89, 255);
}

.buttonWrapper {
  width: fit-content;
  margin: auto;
  margin-top: 23px;
}

.buttonWrapper button {
  width: 80px;
  height: 30px;
  font-size: 12px;
}
