.container-fluid {
  background-color: #ffd55f;
  min-height: 93vh;
}

.textWrapper {
  width: fit-content;
  margin: auto;
  margin-top: 250px;
}

.textWrapper h1 {
  width: fit-content;
  font-size: 70px;
}

.logoutWrapper {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.logoutWrapper a {
  width: 100px;
  height: 40px;
  font-size: 19px;
}
